<div class="container mt-3 pb-3">
  <div class="row">
    <div class="col-4 p-2">
      <div class="form-wrapper" style="width: 305px; margin: 0 auto;">
        <h4>Search by date</h4>
        <%= render 'shared/datepickr', button_label: 'Go' %>
      </div>
      <div
        id="map"
        style="width: 100%;
        height: 200px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

    <div class="col-8">
      <h3>Check out our properties</h3>
      <%= render 'shared/card' %>
    </div>
  </div>

</div>
